@model ML.Biblioteca
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Biblioteca</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un Libro para editarlo o + para agregar...</h5>
        <hr />
    </div>
</div>

<div style="float:right;">
    @Html.ActionLink("+", "Form", "Biblioteca", htmlAttributes: new { @class = "btn btn-success" })
</div>
<br />

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdLibro</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Fecha de Creacion</td>
            <td>Genero</td>
            <td>Precio</td>
            <td>Imagen</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Biblioteca biblioteca in Model.Libros)
        {
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("Form", "Biblioteca", new {IdLibro = biblioteca.IdLibro})"><i class="fas fa-pencil-alt"></i></a></td>
                <td class="hidden">@biblioteca.IdLibro</td>
                <td>@biblioteca.Titulo</td>
                <td>@biblioteca.Autor</td>
                <td>@biblioteca.AñoPublicacion</td>
                <td>@biblioteca.Genero</td>
                <td>@biblioteca.Precio</td>
                <td>
                    @if (biblioteca.Imagen != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(biblioteca.Imagen)" alt="Imagen del Libro" width="50" />
                    }
                </td>
                <td><a class="btn btn-danger" href="@Url.Action("Delete", "Biblioteca", new {IdLibro = biblioteca.IdLibro })" onclick="return confirm('Estás seguro que deseas eliminar este registro?');"><i class="fas fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>
